# Introduction to pandas

In [1]:
# load packages
import pandas as pd
import calendar
import math
import numpy as np

# change directory if needed where the data files are stored
#import os
#os.chdir("C:/Users/user/Documents/baruch/imdb")

# Read in movies dataset

In [2]:
# read in CSV file
movies_data = pd.read_csv("IMDB movies.csv")

/Users/richardsharrott/dev/notebooks/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# check the data type of movies_data
type(movies_data)

pandas.core.frame.DataFrame

# Examining the movies dataset

In [4]:
# view the top 5 records
movies_data.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [5]:
# view just the top record
movies_data.head(1)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

In [6]:
# view just the top 10 records
movies_data.head(10)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,NaN,NaN,NaN,NaN,13.0,5.0
6,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,"Pola Negri, Emil Jannings, Harry Liedtke, Edua...","The story of Madame DuBarry, the mistress of L...",6.8,753,NaN,NaN,NaN,NaN,12.0,9.0
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"Amleto Novelli, Gustavo Serena, Carlo Cattaneo...","An epic Italian film ""Quo Vadis"" influenced ma...",6.2,273,ITL 45000,NaN,NaN,NaN,7.0,5.0
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu",...,"Aristide Demetriade, Constanta Demetriade, Con...",The movie depicts the Romanian War of Independ...,6.7,198,ROL 400000,NaN,NaN,NaN,4.0,1.0
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,"Robert Gemp, Frederick Warde, Albert Gardner, ...",Richard of Gloucester uses manipulation and mu...,5.5,225,$ 30000,NaN,NaN,NaN,8.0,1.0

## Use .tail() to view the bottom records in a data frame

In [7]:
movies_data.tail()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [8]:
movies_data.tail(1)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [9]:
movies_data

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

# Get some info on the data frame - how many rows and columns, what are the column names etc.?

### Dimensions

In [10]:
movies_data.shape

(85855, 22)

### Number of rows

In [11]:
movies_data.shape[0]

85855

### Number of columns

In [12]:
movies_data.shape[1]

22

### Column (Field) names

In [13]:
movies_data.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

## How to refer a to a specific column?  Dot notation vs. Bracket notation

In [14]:
movies_data.title

0                            Miss Jerry
1           The Story of the Kelly Gang
2                        Den sorte drøm
3                             Cleopatra
4                             L'Inferno
                      ...
85850                           Le lion
85851    De Beentjes van Sint-Hildegard
85852         Padmavyuhathile Abhimanyu
85853                 Sokagin Çocuklari
85854        La vida sense la Sara Amat
Name: title, Length: 85855, dtype: object

In [15]:
movies_data["title"]

0                            Miss Jerry
1           The Story of the Kelly Gang
2                        Den sorte drøm
3                             Cleopatra
4                             L'Inferno
                      ...
85850                           Le lion
85851    De Beentjes van Sint-Hildegard
85852         Padmavyuhathile Abhimanyu
85853                 Sokagin Çocuklari
85854        La vida sense la Sara Amat
Name: title, Length: 85855, dtype: object

In [16]:
movies_data.title[0:5]

0                     Miss Jerry
1    The Story of the Kelly Gang
2                 Den sorte drøm
3                      Cleopatra
4                      L'Inferno
Name: title, dtype: object

In [17]:
movies_data.title[10:30]

10                                             Atlantis
11                Fantômas - À l'ombre de la guillotine
12                             Il calvario di una madre
13                                 Juve contre Fantômas
14                           Ma l'amor mio non muore...
15                               Maudite soit la guerre
16                                      Le mort qui tue
17                                       Amore di madre
18                                 Lo studente di Praga
19                                     Traffic in Souls
20                          Gli ultimi giorni di Pompei
21                                        Assunta Spina
22    The Avenging Conscience: or 'Thou Shalt Not Kill'
23                                          The Bargain
24                                              Cabiria
25                                           Cinderella
26                                    L'enfant de Paris
27                             Fantômas contre Fantômas
28                                A Florida Enchantment
29                                            Der Golem
Name: title, dtype: object

# Select specific columns

In [18]:
basic_info = movies_data[["title","director", "genre"]]

In [19]:
basic_info.head()

,title,director,genre
0,Miss Jerry,Alexander Black,Romance
1,The Story of the Kelly Gang,Charles Tait,"Biography, Crime, Drama"
2,Den sorte drøm,Urban Gad,Drama
3,Cleopatra,Charles L. Gaskill,"Drama, History"
4,L'Inferno,"Francesco Bertolini, Adolfo Padovan","Adventure, Drama, Fantasy"

In [20]:
movies_data[["title", "genre"]].head()

                         title                      genre
0                   Miss Jerry                    Romance
1  The Story of the Kelly Gang    Biography, Crime, Drama
2               Den sorte drøm                      Drama
3                    Cleopatra             Drama, History
4                    L'Inferno  Adventure, Drama, Fantasy

# How to filter rows

In [21]:
drama_only = movies_data[movies_data.genre == "Drama"]

In [22]:
drama_only.shape[0]

12543

In [23]:
# or same result
drama_only = movies_data[movies_data["genre"] == "Drama"]

### Filter on string values

In [24]:
drama_all = movies_data[movies_data.genre.str.contains("Drama")]

In [25]:
drama_all.shape[0]

47110

In [26]:
above8 = movies_data[movies_data.avg_vote >= 8]

In [27]:
above8.shape[0]

1741

In [28]:
above8.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,...,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...","Hypnotist Dr. Caligari uses a somnambulist, Ce...",8.1,55601,$ 18000,$ 8811,$ 8811,NaN,237.0,160.0
251,tt0012349,Il monello,The Kid,1921,1923-11-26,"Comedy, Drama, Family",68,USA,"English, None",Charles Chaplin,...,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...","The Tramp cares for an abandoned child, but ev...",8.3,109038,$ 250000,NaN,$ 26916,NaN,173.0,105.0
252,tt0012364,Il carrettiere della morte,Körkarlen,1921,1922,"Drama, Fantasy, Horror",107,Sweden,Swedish,Victor Sjöström,...,"Victor Sjöström, Hilda Borgström, Tore Svennbe...","On New Year's Eve, the driver of a ghostly car...",8.1,10054,NaN,NaN,NaN,NaN,68.0,82.0
334,tt0014429,Preferisco l'ascensore,Safety Last!,1923,1924-12-08,"Action, Comedy, Thriller",74,USA,English,"Fred C. Newmeyer, Sam Taylor",...,"Harold Lloyd, Mildred Davis, Bill Strother, No...",A boy leaves his small country town and heads ...,8.1,17795,$ 121000,NaN,NaN,NaN,91.0,93.0
372,tt0015064,L'ultima risata,Der letzte Mann,1924,1926,Drama,77,Germany,NaN,F.W. Murnau,...,"Emil Jannings, Maly Delschaft, Max Hiller, Emi...","An aging doorman, after being fired from his p...",8.1,12157,NaN,$ 94812,NaN,NaN,61.0,82.0

# Filter where a column value is *not* missing

In [29]:
has_ww_income = movies_data[movies_data.worlwide_gross_income == movies_data.worlwide_gross_income]

In [30]:
has_ww_income.shape[0]

31016

In [31]:
movies_data.shape[0]

85855

# Filter where a column value *is* missing

In [32]:
missing_ww_income = movies_data[movies_data.worlwide_gross_income != movies_data.worlwide_gross_income]

In [33]:
missing_ww_income.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

# How to filter with multiple conditions

### "And" condition

In [34]:
movies_data[(movies_data.genre.str.contains("Drama")) & (movies_data.duration >= 180)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
36,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,1914-03-23,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,"Pearl White, Crane Wilbur, Paul Panzer, Edward...",Young Pauline is left a lot of money when her ...,6.3,939,$ 25000,NaN,NaN,NaN,5.0,8.0
47,tt0004972,Nascita di una nazione,The Birth of a Nation,1915,1915-03-21,"Drama, History, War",195,USA,None,D.W. Griffith,...,"Henry B. Walthall, Lillian Gish, Mae Marsh, Mi...",The Stoneman family finds its friendship with ...,6.3,22213,$ 100000,NaN,NaN,NaN,368.0,97.0
163,tt0010298,Ingmarssönerna,Ingmarssönerna,1919,1919-01-01,Drama,207,Sweden,NaN,Victor Sjöström,...,"Victor Sjöström, Harriet Bosse, Tore Svennberg...",Lill-Ingmar is having a troublesome love life ...,6.9,100,NaN,NaN,NaN,NaN,2.0,2.0
325,tt0014109,La leggenda di Gosta Berlings,Gösta Berlings saga,1924,1924-03-10,"Drama, Romance",183,Sweden,NaN,Mauritz Stiller,...,"Lars Hanson, Sven Scholander, Ellen Hartman-Ce...",A drunkard priest who has been cast out by his...,7.1,1085,NaN,NaN,NaN,NaN,17.0,16.0
333,tt0014417,La rosa sulle rotaie,La roue,1923,1923-02-17,Drama,418,France,"English, French",Abel Gance,...,"Gabriel de Gravone, Pierre Magnier, Georges Té...","Sisif, a railwayman, and his son Elie fall in ...",7.5,1889,NaN,NaN,NaN,NaN,19.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84600,tt8702938,Hezarpa,Hezarpa,2018,2018-07-04,"Comedy, Drama, War",197,Iran,Persian,Abolhassan Davoodi,...,"Reza Attaran, Javad Ezati, Sara Bahrami, Mehra...",Reza and his friend Mansoor are pickpockets. W...,5.8,1790,NaN,NaN,NaN,NaN,5.0,34.0
85057,tt9047474,La flor,La flor,2016,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0
85072,tt9055926,National Theatre Live: King Lear,National Theatre Live: King Lear,2018,2018-09-27,Drama,227,UK,English,Jonathan Munby,...,"Ian McKellen, Sinéad Cusack, Danny Webb, Kirst...","Two aging fathers - one a King, one his courti...",8.6,227,NaN,$ 185305,$ 1731751,NaN,1.0,2.0
85574,tt9581076,Di Jiu Tian Chang,Di Jiu Tian Chang,2019,2019-03-22,Drama,185,China,Chinese,Xiaoshuai Wang,...,"Jingchun Wang, Mei Yong, Xi Qi, Roy Wang, Jian...",Two married couples adjust to the vast social ...,7.7,2595,NaN,NaN,$ 8096596,88.0,18.0,54.0
85629,tt9638084,National Theatre Live: Small Island,National Theatre Live: Small Island,2019,2019-06-27,Drama,210,UK,English,"Tony Grech-Smith, Rufus Norris",...,"Amy Forrest, Leah Harvey, Sandra James-Young, ...","A journey from Jamaica to Britain, through the...",8.6,219,NaN,NaN,$ 1180303,NaN,1.0,NaN

### "Or" condition

In [35]:
movies_data[(movies_data.genre.str.contains("Drama")) | (movies_data.duration >= 180)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,NaN,NaN,NaN,NaN,13.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85849,tt9906644,Manoharam,Manoharam,2019,2019-09-27,"Comedy, Drama",122,India,Malayalam,Anvar Sadik,...,"Vineeth Sreenivasan, Aparna Das, Basil Joseph,...",Manoharan is a poster artist struggling to fin...,6.8,491,NaN,NaN,NaN,NaN,9.0,1.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [36]:
movies_data.votes[0] > 1000

False

# Filter out any movies with a "zero budget"

In [37]:
has_votes_1000 = movies_data[movies_data.votes >= 1000]

In [38]:
has_votes_1000.shape[0]

29374

In [39]:
has_votes_1000.tail()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85811,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,2019-08-29,"Comedy, Romance",98,USA,English,Roger Kumble,...,"Christina Milian, Adam Demos, Jeffrey Bowyer-C...",When city girl Gabriela spontaneously enters a...,5.6,14108,NaN,NaN,NaN,NaN,265.0,32.0
85817,tt9866700,Paranormal Investigation,Paranormal Investigation,2018,2018-12-01,"Horror, Thriller",92,France,French,Franck Phelizon,...,"Jose Atuncar, Claudine Bertin, Cedric Henquez,...",When a young man becomes possessed after playi...,3.7,1299,NaN,NaN,NaN,NaN,334.0,11.0
85837,tt9894470,VFW,VFW,2019,2020-02-14,"Action, Crime, Horror",92,USA,English,Joe Begos,...,"Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.1,4178,NaN,NaN,$ 23101,72.0,83.0,94.0
85839,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1,10627,NaN,NaN,NaN,35.0,388.0,64.0
85843,tt9900782,Kaithi,Kaithi,2019,2019-10-25,"Action, Thriller",145,India,Tamil,Lokesh Kanagaraj,...,"Karthi, Narain, Ramana, George Maryan, Harish ...",A recently released prisoner becomes involved ...,8.5,8400,INR 240000000,NaN,$ 524061,NaN,188.0,8.0

# Reset the index on a data frame

In [40]:
has_votes_1000 = has_votes_1000.reset_index(drop = True)

In [41]:
has_votes_1000.tail()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
29369,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,2019-08-29,"Comedy, Romance",98,USA,English,Roger Kumble,...,"Christina Milian, Adam Demos, Jeffrey Bowyer-C...",When city girl Gabriela spontaneously enters a...,5.6,14108,NaN,NaN,NaN,NaN,265.0,32.0
29370,tt9866700,Paranormal Investigation,Paranormal Investigation,2018,2018-12-01,"Horror, Thriller",92,France,French,Franck Phelizon,...,"Jose Atuncar, Claudine Bertin, Cedric Henquez,...",When a young man becomes possessed after playi...,3.7,1299,NaN,NaN,NaN,NaN,334.0,11.0
29371,tt9894470,VFW,VFW,2019,2020-02-14,"Action, Crime, Horror",92,USA,English,Joe Begos,...,"Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.1,4178,NaN,NaN,$ 23101,72.0,83.0,94.0
29372,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1,10627,NaN,NaN,NaN,35.0,388.0,64.0
29373,tt9900782,Kaithi,Kaithi,2019,2019-10-25,"Action, Thriller",145,India,Tamil,Lokesh Kanagaraj,...,"Karthi, Narain, Ramana, George Maryan, Harish ...",A recently released prisoner becomes involved ...,8.5,8400,INR 240000000,NaN,$ 524061,NaN,188.0,8.0

# How to get information on a specific column

In [42]:
movies_data.votes.mean()

9493.489604565837

In [43]:
movies_data.votes.median()

484.0

In [44]:
movies_data.votes.describe()

count    8.585500e+04
mean     9.493490e+03
std      5.357436e+04
min      9.900000e+01
25%      2.050000e+02
50%      4.840000e+02
75%      1.766500e+03
max      2.278845e+06
Name: votes, dtype: float64

In [45]:
desc = movies_data.votes.describe()

In [46]:
desc["mean"]

9493.489604565837

In [47]:
desc["25%"]

205.0

### Get quantiles - e.g. 95% quantile, 90%, etc.

In [48]:
movies_data.votes.quantile(.95)

33416.2000000001

In [49]:
movies_data.votes.quantile(.9)

9819.600000000006

### Get row index of the max value of a column (e.g. votes)

In [50]:
movies_data.votes.idxmax()

28453

In [51]:
movies_data.iloc[movies_data.votes.idxmax()]

imdb_title_id                                                    tt0111161
title                                                 Le ali della libertà
original_title                                    The Shawshank Redemption
year                                                                  1994
date_published                                                  1995-02-10
genre                                                                Drama
duration                                                               142
country                                                                USA
language                                                           English
director                                                    Frank Darabont
writer                                        Stephen King, Frank Darabont
production_company                               Castle Rock Entertainment
actors                   Tim Robbins, Morgan Freeman, Bob Gunton, Willi...
description              Two imprisoned men bond over a number of years...
avg_vote                                                               9.3
votes                                                              2278845
budget                                                          $ 25000000
usa_gross_income                                                $ 28699976
worlwide_gross_income                                           $ 28815245
metascore                                                               80
reviews_from_users                                                    8232
reviews_from_critics                                                   164
Name: 28453, dtype: object

### Get row index of the max value of a column (e.g. votes)

In [52]:
movies_data.iloc[movies_data.votes.idxmin()]

imdb_title_id                                                    tt0344485
title                                          Toutes ces belles promesses
original_title                                 Toutes ces belles promesses
year                                                                  2003
date_published                                                  2003-08-01
genre                                                       Drama, Romance
duration                                                                85
country                                                    France, Belgium
language                                                            French
director                                                Jean-Paul Civeyrac
writer                                  Jean-Paul Civeyrac, Anne Wiazemsky
production_company                                       Les Films Pelléas
actors                   Jeanne Balibar, Bulle Ogier, Renaud Bécard, Va...
description              After the death of her mother Marianne, a youn...
avg_vote                                                               6.6
votes                                                                   99
budget                                                                 NaN
usa_gross_income                                                       NaN
worlwide_gross_income                                                  NaN
metascore                                                              NaN
reviews_from_users                                                       3
reviews_from_critics                                                     3
Name: 42836, dtype: object

# Summary stats on a categorical variable

In [53]:
movies_data.director.describe()

count            85768
unique           34733
top       Jesús Franco
freq                87
Name: director, dtype: object

In [54]:
movies_data.production_company.describe()

count                         81400
unique                        32050
top       Metro-Goldwyn-Mayer (MGM)
freq                           1284
Name: production_company, dtype: object

In [55]:
movies_data.director.value_counts()

Jesús Franco                             87
Michael Curtiz                           85
Lesley Selander                          78
Lloyd Bacon                              73
William Beaudine                         70
                                         ..
Takeshi Watanabe, Yoshitaka Yamaguchi     1
Yücel Yolcu                               1
Bin Bunluerit                             1
Jack Bravman, John Fasano                 1
Darrell Wheat                             1
Name: director, Length: 34733, dtype: int64

In [56]:
movies_data.director.value_counts().sort_index()

'Evil' Ted Smith              1
'Philthy' Phil Phillips       1
A. Balakrishnan               1
A. Bhimsingh                  8
A. Dean Bell                  2
                             ..
Ümit Köreken                  1
Ümit Ünal                     7
Þorsteinn Gunnar Bjarnason    1
Þráinn Bertelsson             5
Þórhildur Þorleifsdóttir      1
Name: director, Length: 34733, dtype: int64

# How many unique values?  What are the unique values?

In [57]:
movies_data.director.nunique()

34733

In [58]:
movies_data.director.unique()

array(['Alexander Black', 'Charles Tait', 'Urban Gad', ...,
       'Ludovic Colbeau-Justin', 'Vineesh Aaradya', 'Laura Jou'],
      dtype=object)

In [59]:
movies_data.director.unique().tolist()

['Alexander Black',
 'Charles Tait',
 'Urban Gad',
 'Charles L. Gaskill',
 'Francesco Bertolini, Adolfo Padovan',
 'Sidney Olcott',
 'Ernst Lubitsch',
 'Enrico Guazzoni',
 'Aristide Demetriade, Grigore Brezeanu',
 'André Calmettes, James Keane',
 'August Blom',
 'Louis Feuillade',
 'Victor Sjöström',
 'Mario Caserini',
 'Alfred Machin',
 'D.W. Griffith',
 'Paul Wegener, Stellan Rye',
 'George Loane Tucker',
 'Mario Caserini, Eleuterio Rodolfi',
 'Francesca Bertini, Gustavo Serena',
 'Reginald Barker',
 'Giovanni Pastrone',
 'James Kirkwood',
 'Léonce Perret',
 'Sidney Drew',
 'Henrik Galeen, Paul Wegener',
 'Benjamin Christensen',
 'J. Farrell MacDonald',
 'Lois Weber',
 'Edward S. Curtis',
 'Louis J. Gasnier, Donald MacKenzie',
 'Oscar Apfel, Cecil B. DeMille',
 'Edwin S. Porter',
 'Mack Sennett, Charles Bennett',
 'Michael Curtiz',
 'William Robert Daly',
 'Cecil B. DeMille',
 'Maurice Tourneur',
 'W.W. Young',
 'Reginald Barker, Thomas H. Ince',
 'Frank Powell',
 'Luigi Romano Borgnetto, Vincenzo Denizot',
 'Christy Cabanne',
 'Edgar Lewis',
 'Yevgeny Bauer',
 'Nino Oxilia',
 'Raoul Walsh',
 'George Melford',
 'Stuart Paton',
 'Chester M. Franklin, Sidney Franklin',
 'Chester Withey',
 'Allan Dwan',
 'Charles Swickard, William S. Hart',
 'John Emerson',
 'Lloyd Ingraham',
 'Paul Powell',
 'Yakov Protazanov',
 'William S. Hart',
 'Arthur Berthelet',
 'J. Searle Dawley',
 'Mauritz Stiller',
 'Phillips Smalley, Lois Weber',
 'Ruth Ann Baldwin',
 'John Ford',
 'J. Gordon Edwards',
 'Robert Wiene',
 'Holger-Madsen',
 'Cecil B. DeMille, Joseph Levering',
 'Marshall Neilan',
 'Abel Gance',
 'Yakov Protazanov, Alexandre Volkoff',
 'George Irving',
 'Frank Lloyd',
 'Harry Davenport',
 'William Desmond Taylor',
 'Alexander Korda',
 'Ida May Park',
 'Sidney Franklin',
 'Joseph Maxwell',
 'F. Richard Jones, James Young',
 'Walter Edwards',
 'Albert Parker',
 'Charles Chaplin',
 'Scott Sidney',
 'Alan Crosland',
 'Richard Oswald',
 'Oscar Apfel',
 'Enrique Rosas',
 'David Hartford',
 'Irvin Willat',
 'Erich von Stroheim',
 'Jerome Storm',
 'Robert Z. Leonard',
 'Fritz Lang',
 'James Cruze',
 'Joseph De Grasse, Sidney Franklin',
 'Otto Rippert',
 'Carl Theodor Dreyer',
 'Raymond Longford',
 'Lambert Hillyer',
 'Victor Fleming',
 'Tod Browning',
 'F. Richard Jones',
 'Hans Werckmeister',
 'Jacques Feyder',
 'John S. Robertson',
 'Rasmus Breistein',
 'F.W. Murnau',
 'Carl Boese, Paul Wegener',
 'Lawrence C. Windom',
 'André Antoine',
 "Marcel L'Herbier",
 'Frank Borzage',
 'King Vidor',
 'Franz Osten',
 'Clarence Brown, Maurice Tourneur',
 'David Kirkland',
 'Fred Niblo',
 'Gunnar Sommerfeldt',
 "Leon D'Usseau, Robert Z. Leonard",
 'Herbert Blaché, Winchell Smith',
 'John Francis Dillon',
 'Karl Heinz Martin',
 'Oscar Micheaux',
 'Wallace Worsley',
 'Robert F. Hill, Scott Sidney',
 'Max Linder',
 'George D. Baker',
 'Ray C. Smallwood',
 'Rex Ingram',
 'Maurice Campbell',
 'Robert G. Vignola',
 'Svend Gade, Heinz Schall',
 'Leopold Jessner, Paul Leni',
 'Joe May',
 "James Cruze, Roscoe 'Fatty' Arbuckle",
 'Alfred E. Green, Jack Pickford',
 'Frances Marion',
 'William C. de Mille',
 'Albert Austin, Victor Heerman',
 'Theodore Reed',
 'Minoru Murata',
 'Fred C. Newmeyer',
 'Dimitri Buchowetzki',
 'Lupu Pick',
 'Henry King',
 'Sam Wood',
 'Fred Niblo, Dorothy Arzner',
 'George Terwilliger',
 'Fred C. Newmeyer, Sam Taylor',
 'Elmer Clifton',
 'Louis Delluc',
 'Irving Cummings',
 'Edward D. Venturini',
 'Burton L. King',
 'Rupert Julian, Erich von Stroheim',
 'Emmett J. Flynn',
 'Manfred Noa',
 'Charles Bryant, Alla Nazimova',
 'Arthur Robison',
 'Tom Forman',
 'Lynn Reynolds',
 'Chester M. Franklin',
 'Robert Thornby',
 'Harry B. Parkinson',
 'Phil Rosen',
 'Ewald André Dupont',
 'Jean Epstein',
 'Harry Houdini',
 'John G. Blystone, Buster Keaton',
 'Ernst Lubitsch, Raoul Walsh',
 'Georg Wilhelm Pabst',
 'Rupert Hughes',
 'Karl Grune',
 'Edward F. Cline, Buster Keaton',
 'Leo Birinsky, Paul Leni',
 'Harry Beaumont',
 'Edward F. Cline',
 'Lewis H. Moomaw',
 'Henry Otto',
 'Marshall Neilan, Mary Pickford',
 'William A. Seiter',
 'Jean Renoir',
 'E. Mason Hopper',
 'Alexandre Volkoff',
 'Donald Crisp, Buster Keaton',
 'Lev Kuleshov',
 'Paul Bern',
 'Yuri Zhelyabuzhsky',
 'René Clair',
 'Herbert Brenon',
 'Buster Keaton',
 'Sergei M. Eisenstein',
 'Graham Cutts',
 'Lotte Reiniger, Carl Koch',
 'King Vidor, George W. Hill',
 'Alan Hale',
 'Noel M. Smith',
 'Joseph Henabery',
 'Donald Crisp',
 'Clarence Brown',
 'Kenji Mizoguchi',
 'Pedro Sienna',
 'Monta Bell',
 'William Beaudine',
 'David Butler',
 'Harry O. Hoyt',
 'Roland West',
 'Buntarô Futagawa',
 'Louis J. Gasnier',
 'Clarence G. Badger',
 'Rupert Julian, Lon Chaney',
 'Wesley Ruggles',
 'Alfred Hitchcock',
 'Julien Duvivier',
 'Franz Osten, Himanshu Rai',
 'Walter Lang, Dorothy Davenport',
 'Edmund Goulding',
 'Josef von Sternberg',
 'Leander De Cordova, G.B. Samuelson',
 'H.K. Breslauer',
 'King Baggot, William S. Hart',
 'George B. Seitz',
 'Larry Semon',
 'George Chesebro, Bruce Mitchell',
 'Malcolm St. Clair',
 'George W. Hill',
 'Arthur von Gerlach',
 'James Young',
 'Charles Reisner',
 'William A. Wellman',
 'Jack Conway',
 'Alfred E. Green',
 'Paul Sloane',
 'Sam Taylor',
 'Howard Hawks',
 'Richard Rosson, Lewis Milestone',
 'Lewis Seiler',
 'Arnold Fanck',
 'Harry Edwards',
 'A. Edward Sutherland',
 'Frank Tuttle',
 'Teinosuke Kinugasa',
 'Guido Brignone',
 'Vsevolod Pudovkin',
 'Boris Barnet, Fyodor Otsep',
 'Dallas M. Fitzgerald',
 'Amo Bek-Nazaryan',
 'Herbert Wilcox',
 'Millard Webb',
 'Grigoriy Kozintsev, Leonid Trauberg',
 'Gregory La Cava',
 'George Fitzmaurice',
 'William Beaudine, Tom McNamara',
 'Frank Capra',
 'Henrik Galeen',
 'Fred Niblo, Mauritz Stiller',
 'Edward Sedgwick',
 'Frank Urson',
 'Ivan Pravov, Olga Preobrazhenskaya',
 'Rowland V. Lee, Mauritz Stiller',
 'Gustav Ucicky',
 'Paul Leni',
 'Frank Lloyd, Josef von Sternberg',
 'James W. Horne, Buster Keaton',
 'Boris Barnet',
 'Roy Del Ruth',
 'Clyde Bruckman, Buster Keaton',
 'Dorothy Arzner',
 'Aleksandr Medvedkin',
 'Maurice Elvey',
 'Clarence G. Badger, Josef von Sternberg',
 'Raymond Bernard',
 'Ted Wilde, Harold Lloyd',
 'Vsevolod Pudovkin, Mikhail Doller',
 'Edmund Goulding, John Gilbert',
 'William Nigh',
 'Grigoriy Aleksandrov, Sergei M. Eisenstein',
 'Alfred Santell',
 'Sergey Komarov',
 "Roscoe 'Fatty' Arbuckle",
 'Frank Peregini',
 'William K. Howard',
 'Anthony Asquith, A.V. Bramble',
 'Ernst Lubitsch, John M. Stahl',
 'Aleksandr Dovzhenko',
 'J.P. McGowan',
 'Harry Langdon',
 'Hobart Henley',
 'Abram Room',
 'Lewis Milestone',
 'Harry A. Pollard',
 'Josef von Sternberg, Arthur Rosson',
 "William A. Wellman, Harry d'Abbadie d'Arrast",
 'W.S. Van Dyke',
 'Curtis Bernhardt',
 'Minwei Li, Hou Yao',
 'Edward Sedgwick, Buster Keaton',
 'George W. Hill, Clarence Brown',
 'Nikoloz Shengelaia',
 'Merian C. Cooper, Lothar Mendes',
 'William Dieterle',
 'Bryan Foy',
 'George Fitzmaurice, Frank Lloyd',
 'Pál Fejös',
 'Jean Grémillon',
 'Lucien Hubbard',
 'Lloyd Bacon',
 'Ted Wilde',
 'Charles Reisner, Buster Keaton',
 'Frank Capra, Irvin Willat',
 'Sam Taylor, Lewis Milestone',
 'Anthony Asquith',
 'Roy William Neill',
 'W.S. Van Dyke, Robert J. Flaherty',
 'Fyodor Otsep',
 'Florián Rey',
 'Rouben Mamoulian',
 'Mervyn LeRoy',
 'Malcolm St. Clair, Frank Tuttle',
 'Alberto Cavalcanti, Henry Wulschleger',
 'Robert Florey, Joseph Santley',
 'Yasujirô Ozu',
 'John Cromwell, A. Edward Sutherland',
 'Lothar Mendes',
 'Gustav Machatý',
 'Edwin Carewe',
 'Castleton Knight',
 'Paul Czinner',
 'Edgar Selwyn',
 'Ilya Trauberg',
 'James Cruze, Erich von Stroheim',
 'William J. Cowen',
 'William Wyler',
 'Paul L. Stein',
 'Howard Higgin',
 'Robert Florey',
 'Charles Reisner, Christy Cabanne',
 'Robert Land',
 'George Schnéevoigt',
 'Jean de Limur',
 'Dorothy Davenport',
 'Lionel Barrymore',
 'Robert Siodmak, Edgar G. Ulmer',
 'Erle C. Kenton',
 'Henri Fescourt',
 'Phil Jutzi',
 'Rowland V. Lee',
 'Lucien Hubbard, Benjamin Christensen',
 'Michael Curtiz, Darryl F. Zanuck',
 'Fridrikh Ermler',
 'Erich von Stroheim, Richard Boleslawski',
 'Victor Schertzinger',
 'Luther Reed',
 'Mario Camerini',
 'David Butler, John Ford',
 'Harry A. Pollard, Arch Heath',
 'John G. Adolfi',
 'H.P. Carver',
 'Walter Jerven, Franz Osten',
 'Bayard Veiller',
 'Léon Poirier',
 'Arnold Fanck, Georg Wilhelm Pabst',
 'Clyde Bruckman, Malcolm St. Clair',
 'Hanns Schwarz',
 'Victor Heerman',
 'Thornton Freeland',
 'George W. Hill, Ward Wing',
 'Raoul Walsh, Louis R. Loeffler',
 'David Burton, Nick Grinde',
 'Kenneth MacPherson',
 'Charles Brabin',
 'Al Christie',
 'Melville W. Brown',
 'Archie Mayo',
 'Wilhelm Thiele',
 'André Charlot, Jack Hulbert',
 'Leslie Pearce',
 'Clyde Bruckman, Harold Lloyd',
 'Lloyd Corrigan, Laurence Schwab',
 'John Cromwell',
 'George Archainbaud',
 'Ray Enright',
 'Nick Grinde',
 'Benjamin Stoloff',
 'Howard Hughes, Edmund Goulding',
 'Tay Garnett',
 'Edward H. Griffith',
 'Roy Pomeroy',
 'James Whale',
 'John Murray Anderson, Walter Lantz',
 "Harry d'Abbadie d'Arrast",
 'Leo McCarey',
 'Otto Brower, Edwin H. Knopf',
 'Harry Beaumont, William Nigh',
 'Lowell Sherman',
 'George Abbott',
 'Scott Pembroke',
 'Lloyd Bacon, Michael Curtiz',
 'Robert Milton, Ray Enright',
 'Dorothy Arzner, Otto Brower',
 'Victor Halperin',
 'Yakov Protazanov, Porfiri Podobed',
 'Augusto Genina',
 'Edward Sloman',
 "George Fitzmaurice, Harry d'Abbadie d'Arrast",
 'Fred Niblo, Lionel Barrymore',
 'Nick Grinde, Malcolm St. Clair',
 'Lionel Barrymore, Hal Roach',
 'Irene Starewicz, Wladyslaw Starewicz',
 'George Cukor, Cyril Gardner',
 'Jean Cocteau',
 'Lionel Barrymore, Wesley Ruggles',
 'Louis Wolheim',
 'Jack Conway, Sam Wood',
 'Karl Anton',
 'Ludwig Berger, Ernst Lubitsch',
 'George Cukor, Louis J. Gasnier',
 'Luis Buñuel',
 'Marion Gering',
 'Ardeshir Irani',
 'Bud Pollard',
 'Wesley Ruggles, Howard Estabrook',
 'Karl Hartl, Luis Trenker',
 'Hamilton MacFadden',
 'James W. Horne',
 'William A. Seiter, William A. Seiter',
 'George Abbott, Berthold Viertel',
 'Anatole Litvak',
 'Lloyd Corrigan',
 'Robert Milton',
 'Tod Browning, Karl Freund',
 'George Melford, Enrique Tovar Ávalos',
 'Gerhard Lamprecht',
 'Clyde Bruckman',
 'Stuart Walker',
 'Otto Brower, David Burton',
 'B. Reeves Eason',
 'Richard Boleslawski',
 'George Cukor',
 'W.S. Van Dyke, Lionel Barrymore',
 'Steve Sekely',
 'William C. McGann',
 'Erik Charell',
 'Mario Peixoto',
 'Russell Mack',
 'Heinosuke Gosho',
 'Richard Wallace, Edward Goodman',
 'Robert Siodmak',
 'Norman Z. McLeod',
 'Frank R. Strayer',
 'Albert S. Rogell',
 'Leontine Sagan, Carl Froelich',
 'Erich Engel, Fyodor Otsep',
 'Victor Trivas, George Shdanoff',
 'Daisuke Itô',
 'Howard Higgin, Tom Buckingham',
 'James Parrott',
 'Alan James',
 'J. Walter Ruben',
 'Nikolai Ekk',
 'Rowland Brown',
 'D. Ross Lederman',
 'Antonio Moreno',
 'John M. Stahl',
 'Leslie S. Hiscott',
 'Zion Myers, Jules White',
 'Norman Taurog',
 'Jack Raymond',
 'Lionel Barrymore, Edward Buzzell',
 'Max Ophüls',
 'Varick Frissell, George Melford',
 'Harry Joe Brown',
 'Michael Curtiz, Lloyd Bacon',
 'Frank Capra, Allan Dwan',
 'Edward H. Griffith, George Cukor',
 'Tenny Wright',
 'Edward Buzzell',
 'Leni Riefenstahl, Béla Balázs',
 'Paul Martin',
 'William Cameron Menzies, Marcel Varnel',
 'John G. Blystone',
 'H. Bruce Humberstone',
 'David Burton',
 'Karl Hartl',
 'Marc Allégret',
 'Harry A. Pollard, Sam Wood',
 'Dudley Murphy',
 'Fred Allen',
 'Mikhail Kalatozov',
 'Mack V. Wright, Hugh Harman',
 'Rowland Brown, John Cromwell',
 'J.P. McGowan, Armand Schaefer',
 'James Cruze, H. Bruce Humberstone',
 'Richard Thorpe',
 'Slatan Dudow',
 'Stephen Roberts',
 'Samuel Bischoff',
 'Ford Beebe, B. Reeves Eason',
 'Edward L. Cahn',
 'James Flood, Elliott Nugent',
 'Pál Fejös, Pál Fejös',
 'Charles Brabin, Charles Vidor',
 'Howard Bretherton, William Keighley',
 'Ralph Ince, William Boyd',
 'Spencer Gordon Bennet',
 'Irving Pichel, Ernest B. Schoedsack',
 'Karl Freund',
 'Mikio Naruse',
 'Walter Lang',
 'George Cukor, Ernst Lubitsch',
 'Ralph Murphy, Tay Garnett',
 'Emory Johnson',
 'Richard Boleslawski, Charles Brabin',
 'Walter Forde',
 'Harry L. Fraser',
 'Howard Hawks, Richard Rosson',
 'Armand Schaefer',
 'Alexander Hall',
 'Clarence Brown, Robert Z. Leonard',
 'Phil Whitman, Hampton Del Ruth',
 'Albert de Courville',
 'Albert Ray',
 'Alessandro Blasetti',
 'Mark Sandrich',
 'Norman Z. McLeod, Hugh Harman',
 'Irving Pichel',
 'Albert Herman',
 'Ernest B. Schoedsack',
 'Ray Enright, Lucien Hubbard',
 'Sidney Lanfield',
 'Willard Mack, Jules White',
 'José Cottinelli Telmo',
 'William A. Wellman, Alfred E. Green',
 'Juan Bustillo Oro, Fernando de Fuentes',
 'Charles E. Roberts',
 'Edwin L. Marin',
 'Felix E. Feist',
 'Hal Roach, Charley Rogers',
 'Murray Roth',
 'Dudley Murphy, William C. de Mille',
 'Michael Curtiz, William Dieterle',
 'Victor Saville',
 'Louis J. Gasnier, Max Marcin',
 'Humberto Mauro',
 'Bernard Vorhaus',
 'T. Hayes Hunter',
 'William Dieterle, Alfred E. Green',
 'Franz Wenzler',
 'Otto Brower',
 'Alan Crosland, Erich von Stroheim',
 'Arthur Hopkins',
 'Phil Whitman',
 'Hans Steinhoff',
 'Elliott Nugent',
 'Charles Chauvel',
 'Harry O. Hoyt, Albert H. Kelley',
 'Merian C. Cooper, Ernest B. Schoedsack',
 'H. Bruce Humberstone, Max Marcin',
 'Ramón Peón',
 'Ralph Ince',
 'Mack V. Wright',
 'Henry Hathaway',
 'Richard Wallace',
 'Jean Benoît-Lévy, Marie Epstein',
 'Archie Mayo, Michael Curtiz',
 'Cyril Gardner',
 'Fernando de Fuentes',
 'W.S. Van Dyke, Howard Hawks',
 'Robert N. Bradbury',
 'George Cukor, George Fitzmaurice',
 'Kurt Neumann',
 'George Amy, Busby Berkeley',
 'Phil Goldstone',
 'Dorothy Davenport, Melville Shyer',
 'Kenji Mizoguchi, Takuaki Seiryô',
 'Robert F. Hill',
 'Colbert Clark, Armand Schaefer',
 'Francis Martin',
 'Alexander Hall, George Somnes',
 'Raffaello Matarazzo',
 'Reinhold Schünzel',
 'Harry Beaumont, Robert Z. Leonard',
 'Colbert Clark, Albert Herman',
 'Elliott Nugent, Charles Reisner',
 'George Marshall',
 'Philip Moeller',
 'Marcel Pagnol',
 'George Nichols Jr.',
 'Jean Vigo',
 'William Keighley',
 'Gus Meins, Charley Rogers',
 'Harry Lachman',
 'George Stevens',
 'Edgar G. Ulmer',
 'Wesley Ruggles, Mitchell Leisen',
 'Lowell Sherman, Jack Conway',
 'William K. Howard, Sam Wood',
 'Sam Taylor, Harold Lloyd',
 'Paul Czinner, Alexander Korda',
 'Sergey Vasilev, Georgi Vasilyev',
 'Eugene Forde',
 'Eugene Forde, George Hadden',
 'Ben Hecht, Charles MacArthur',
 'David Howard',
 'Ray Enright, Busby Berkeley',
 'Mitchell Leisen',
 'Reginald Denham',
 'Juan Bustillo Oro',
 'William Keighley, William Dieterle',
 'Harry Garson',
 'George Nichols Jr., Wanda Tuchock',
 'Michael Powell',
 'Worthington Miner',
 'Martin Fric',
 'Richard Boleslawski, Allan Dwan',
 'Alfred L. Werker, Sidney Lanfield',
 'David Howard, Joseph Kane',
 'Roy Del Ruth, Willy Pogany',
 'Leonard Fields',
 'Harlan Thompson',
 'Eugene Frenke, James P. Hogan',
 'David Howard, Armand Schaefer',
 'Alfred E. Green, Phil Rosen',
 'William Clemens',
 'Edward Ludwig',
 'W.S. Van Dyke, George Cukor',
 'Dwain Esper',
 'Willi Forst',
 'Alexander Esway, Billy Wilder',
 'Chester Erskine',
 'Arcady Boytler, Raphael J. Sevilla',
 'Melville Shyer',
 'Edgar Selwyn, Richard Boleslawski',
 'Dorothy Arzner, George Fitzmaurice',
 'Edwin J. Burke',
 'Ray Taylor',
 'Aleksandr Faintsimmer',
 'Mikhail Romm',
 'Walter Summers',
 'Harold Young',
 'Milton Rosmer',
 'Charles Vidor',
 'Chester M. Franklin, Edwin L. Marin',
 'Robert A. Stemmle',
 'Sam Wood, Jack Conway',
 'Cedric Gibbons, James C. McKay',
 'Charles Barton',
 'Benito Perojo',
 'Luis Trenker',
 'Grigoriy Aleksandrov',
 'Jack Conway, Howard Hawks',
 'Joseph Santley',
 'Howard Hawks, William Wyler',
 'Muhsin Ertugrul',
 'Rouben Mamoulian, Lowell Sherman',
 'Busby Berkeley',
 'Frank McDonald',
 'Roy Del Ruth, W.S. Van Dyke',
 'Graham Cutts, Austin Melford',
 'Louis King',
 'Lewis Seiler, Hamilton MacFadden',
 'James Tinling',
 'Monty Banks',
 'Harry Revier',
 'Lewis D. Collins',
 'Howard Bretherton, D. Ross Lederman',
 'John Reinhardt',
 'Howard Bretherton',
 'Charles Lamont',
 'George Pearson',
 'George White, Harry Lachman',
 'Ernest B. Schoedsack, Merian C. Cooper',
 'Charles Barton, Louis J. Gasnier',
 'Basil Dean',
 'Clyde Bruckman, W.C. Fields',
 'Bernard B. Ray',
 'William Dieterle, Max Reinhardt',
 'B. Reeves Eason, Armand Schaefer',
 'A. Edward Sutherland, Wesley Ruggles',
 'Edvin Adolphson, Sigurd Wallén',
 'Tim Whelan',
 'Clifford Sanforth',
 'Ray McCarey',
 'Denison Clift',
 'Douglas Sirk',
 'Robert Z. Leonard, W.S. Van Dyke',
 'Edward A. Kull, Wilbur McGaugh',
 'Edward A. Kull',
 'Carl Pierson',
 'Sam Wood, Edmund Goulding',
 'Aleksandr Ptushko',
 'Anthony Kimmins',
 'Berthold Viertel',
 'Arthur Greville Collins',
 'Otto Brower, B. Reeves Eason',
 'Wallace Fox',
 'Edmond T. Gréville',
 'Fred Guiol',
 'Lew Landers',
 'George Nichols Jr., Victor Schertzinger',
 'Zoltan Korda, Alfred Hitchcock',
 'Henry Edwards',
 'William Hamilton, Edward Killy',
 'James Flood',
 'Lansing C. Holden, Irving Pichel',
 'Thomas Atkins',
 'Raymond K. Johnson',
 'Gustaf Molander',
 'Jack Conway, Robert Z. Leonard',
 'Sadao Yamanaka',
 'Joseph Kane',
 'Gustaf Edgren',
 'Richard Rosson',
 'Joseph Green, Jan Nowina-Przybylski',
 'Ford Beebe, Clifford Smith',
 'Sam Newfield',
 'Alfred Zeisler',
 'Mervyn LeRoy, Michael Curtiz',
 'Hiroshi Shimizu',
 'H.C. Potter',
 'George Nichols Jr., Edward Killy',
 'Mack V. Wright, Joseph Kane',
 'James W. Horne, Charley Rogers',
 'Wells Root',
 'Leigh Jason',
 'William C. McGann, Alan Crosland',
 'Gordon Wiles',
 'Ralph Staub',
 'John H. Auer',
 'George King',
 'Christy Cabanne, Edward Killy',
 'B. Reeves Eason, Joseph Kane',
 'Vladimir Vaynshtok, David Gutman',
 'W.S. Van Dyke, Rowland Brown',
 'Marcel Carné',
 'Frederick Stephani, Ray Taylor',
 'Ford Beebe, Robert F. Hill',
 'Zoltan Korda',
 'Frank Wisbar',
 'Gordon Douglas, Fred C. Newmeyer',
 'Marc Connelly, William Keighley',
 'Lew Ayres',
 'Nate Watt',
 'Gus Meins',
 'Robert Stevenson',
 'John Ford, Leslie Goodwins',
 'Herbert J. Biberman',
 'Walter Reisch',
 'Béla Gaál',
 'Leo McCarey, Ray McCarey',
 'Sacha Guitry',
 'André Berthomieu',
 'Efim Dzigan',
 "William A. O'Connor",
 'Ben Holmes',
 'Emilio Gómez Muriel, Fred Zinnemann',
 'Berthold Viertel, Geoffrey Barkas',
 'Vishnupant Govind Damle, Sheikh Fattelal',
 'Sergey Gerasimov',
 'George A. Cooper',
 'William Keighley, Busby Berkeley',
 'William A. Wellman, Robert Z. Leonard',
 'J. Elder Wills',
 'John P. McCarthy',
 'Richard Thorpe, John Farrow',
 'William Cameron Menzies',
 'Henry Koster',
 'Del Lord',
 'Grigoriy Aleksandrov, Isidor Simkov',
 'Boris Barnet, Samad Mardanov',
 'Valentin Vaala',
 'Jacques Becker, Jacques B. Brunius',
 'Edward Killy',
 'Jean Grémillon, Luis Buñuel',
 'Pierre Chenal',
 'John English',
 'Yakov Protazanov, Aleksandr Rou',
 'Frank Borzage, George B. Seitz',
 'Hugo Haas',
 'Malcolm St. Clair, Gustav Machatý',
 'James P. Hogan',
 'Norman Lee',
 'Arthur Lubin',
 'Clarence Brown, Gustav Machatý',
 'Otto Preminger',
 'Alan James, Ray Taylor',
 'Harold D. Schuster',
 'Robert J. Flaherty, Zoltan Korda',
 'Tancred Ibsen',
 'Gero Zambuto',
 'Stanley Logan',
 'Sidney Franklin, Victor Fleming',
 'Marcel Varnel',
 'Ewing Scott, George Sherman',
 'Lesley Selander',
 'Roland D. Reed',
 'Robert Stevenson, Geoffrey Barkas',
 'Ladislao Vajda',
 'Gregory Ratoff',
 'Richard Boleslawski, Dorothy Arzner',
 'Mikhail Romm, Dmitriy Vasilev',
 'Sam Wood, Gustav Machatý',
 'Lothar Mendes, Alexander Korda',
 'John Farrow',
 'Garson Kanin',
 'David MacDonald',
 'Ralph Murphy',
 'Thornton Freeland, William K. Howard',
 'Weyler Hildebrand',
 'Vladimir Petrov',
 'John Cromwell, W.S. Van Dyke',
 'Alan James, William Witney',
 'Carmine Gallone',
 'Lynn Shores',
 'Thomas Bentley',
 'Errol Taggart',
 'William Cottrell, David Hand',
 'William A. Wellman, Jack Conway',
 'Ian Dalrymple, Victor Saville',
 'David Selman',
 'Norman Foster',
 'Ben Holmes, Edward Killy',

# Operations on a single column

## The "map" method

In [60]:
movies_data["country"] = movies_data.country.map(lambda c: str(c).lower())

In [61]:
movies_data["country"].head()

0                 usa
1           australia
2    germany, denmark
3                 usa
4               italy
Name: country, dtype: object

# Transform numerical variable

In [62]:
movies_data["sqrt_votes"] = movies_data.votes.map(lambda num: math.sqrt(num))

In [63]:
movies_data.sqrt_votes[:10]

0    12.409674
1    24.269322
2    13.711309
3    21.118712
4    47.296934
5    22.000000
6    27.440845
7    16.522712
8    14.071247
9    15.000000
Name: sqrt_votes, dtype: float64

In [64]:
movies_data["log_votes"] = movies_data.votes.map(lambda num: math.log(num + .0001))

In [65]:
movies_data.log_votes[:10]

0    5.036953
1    6.378426
2    5.236442
3    6.100319
4    7.712891
5    6.182085
6    6.624065
7    5.609472
8    5.288268
9    5.416101
Name: log_votes, dtype: float64

# Handling messy data - converting "budget" to a numeric field

In [66]:
movies_data["budget"]

0            NaN
1         $ 2250
2            NaN
3        $ 45000
4            NaN
          ...
85850        NaN
85851        NaN
85852        NaN
85853        NaN
85854        NaN
Name: budget, Length: 85855, dtype: object

In [67]:
check = movies_data.budget.map(lambda val: str(val).strip("$").strip())
check

0          nan
1         2250
2          nan
3        45000
4          nan
         ...
85850      nan
85851      nan
85852      nan
85853      nan
85854      nan
Name: budget, Length: 85855, dtype: object

In [68]:
#check.map(float) ## error because of messy data, not every value can be converted to a float (numeric) value

In [69]:
def clean_currency(val):
    try:
        return float(val)
    except:
        return np.nan

In [70]:
check = check.map(clean_currency)

In [71]:
movies_data["budget"] = check

## Use similar logic to clean up the gross income fields

In [72]:
movies_data["worlwide_gross_income"] = movies_data.worlwide_gross_income.map(lambda val: clean_currency(str(val).strip("$").strip()))
movies_data["usa_gross_income"] = movies_data.usa_gross_income.map(lambda val: clean_currency(str(val).strip("$").strip()))

In [73]:
# movies_data.date_published.map(pd.Timestamp) # error

In [74]:
# create function to force clean date
def clean_date(s):
    try:
        return pd.Timestamp(s)
    except Exception:
        return np.nan

In [75]:
movies_data["date_published"] = movies_data.date_published.map(clean_date)

In [76]:
movies_data["date_published"].head()

0   1894-10-09
1   1906-12-26
2   1911-08-19
3   1912-11-13
4   1911-03-06
Name: date_published, dtype: datetime64[ns]

In [77]:
movies_data["release_month"] = movies_data.date_published.map(lambda dt: dt.month_name())

In [78]:
movies_data.release_month[:10]

0      October
1     December
2       August
3     November
4        March
5      January
6     November
7        March
8    September
9      October
Name: release_month, dtype: object

In [79]:
movies_data["release_year"] = movies_data.date_published.map(lambda dt: dt.year)

In [80]:
movies_data["release_day"] = movies_data.date_published.map(lambda dt: dt.day_name())

In [81]:
movies_data.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,sqrt_votes,log_votes,release_month,release_year,release_day
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,usa,None,Alexander Black,...,NaN,NaN,NaN,1.0,2.0,12.409674,5.036953,October,1894.0,Tuesday
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,australia,None,Charles Tait,...,NaN,NaN,NaN,7.0,7.0,24.269322,6.378426,December,1906.0,Wednesday
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"germany, denmark",NaN,Urban Gad,...,NaN,NaN,NaN,5.0,2.0,13.711309,5.236442,August,1911.0,Saturday
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,usa,English,Charles L. Gaskill,...,NaN,NaN,NaN,25.0,3.0,21.118712,6.100319,November,1912.0,Wednesday
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,NaN,NaN,NaN,31.0,14.0,47.296934,7.712891,March,1911.0,Monday

# How to bin numerical variables

In [82]:
movies_data.budget.describe()

count    1.660200e+04
mean     1.439146e+07
std      2.889929e+07
min      0.000000e+00
25%      7.500000e+05
50%      3.000000e+06
75%      1.500000e+07
max      3.560000e+08
Name: budget, dtype: float64

In [83]:
movies_data["budget_group"] = pd.cut(movies_data.budget, [0, 100_000, 500_000, 1_000_000, 10_000_000, 30_000_000, 100_000_000, 1_000_000_000])

In [84]:
movies_data.budget_group[:10]

0                NaN
1    (0.0, 100000.0]
2                NaN
3    (0.0, 100000.0]
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9    (0.0, 100000.0]
Name: budget_group, dtype: category
Categories (7, interval[int64]): [(0, 100000] < (100000, 500000] < (500000, 1000000] < (1000000, 10000000] < (10000000, 30000000] < (30000000, 100000000] < (100000000, 1000000000]]

In [85]:
movies_data["labeled_budget_group"] = pd.cut(movies_data.budget, [0, 100_000, 500_000, 1_000_000, 10_000_000, 30_000_000, 100_000_000, 1_000_000_000],
                                            labels = ["0 to 100K", "100K to 500K", "500K - 1M", "1M - 10M", "10M - 30M", "30M - 100M", "100M - 1B"])

In [86]:
movies_data.labeled_budget_group.value_counts()

1M - 10M        6180
10M - 30M       2892
100K to 500K    2089
500K - 1M       1721
30M - 100M      1715
0 to 100K       1606
100M - 1B        387
Name: labeled_budget_group, dtype: int64

In [87]:
movies_data["budget_group_20"] = pd.cut(movies_data.budget, 20)

In [88]:
movies_data["budget_group_20"].value_counts()

(-356000.0, 17800000.0]       12897
(17800000.0, 35600000.0]       1902
(35600000.0, 53400000.0]        655
(53400000.0, 71200000.0]        396
(71200000.0, 89000000.0]        217
(89000000.0, 106800000.0]       166
(124600000.0, 142400000.0]       83
(142400000.0, 160200000.0]       80
(106800000.0, 124600000.0]       70
(160200000.0, 178000000.0]       44
(195800000.0, 213600000.0]       35
(178000000.0, 195800000.0]       23
(249200000.0, 267000000.0]       12
(213600000.0, 231400000.0]       11
(231400000.0, 249200000.0]        3
(267000000.0, 284800000.0]        3
(284800000.0, 302600000.0]        2
(320400000.0, 338200000.0]        1
(302600000.0, 320400000.0]        1
(338200000.0, 356000000.0]        1
Name: budget_group_20, dtype: int64

# What month has the most releases?

In [89]:
movies_data.release_month.value_counts()

January      10923
October       8734
September     7924
March         7435
November      7094
April         7078
December      6618
February      6441
August        6399
May           6173
June          5800
July          5235
Name: release_month, dtype: int64

# What day has the most releases?

In [90]:
movies_data.release_day.value_counts()

Friday       32079
Thursday     18013
Wednesday    11865
Saturday      8394
Tuesday       6236
Monday        5340
Sunday        3927
Name: release_day, dtype: int64

# How to delete columns - "drop" method or "del" function

In [91]:
movies_data.drop(columns = ["log_votes", "sqrt_votes"], inplace = True)

In [92]:
movies_data["test"] = 10

In [93]:
movies_data.test[:10]

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
Name: test, dtype: int64

In [94]:
del movies_data["test"]

# Does a column contain missing values?

In [95]:
movies_data.budget.isna()

0         True
1        False
2         True
3        False
4         True
         ...
85850     True
85851     True
85852     True
85853     True
85854     True
Name: budget, Length: 85855, dtype: bool

In [96]:
movies_data.budget.isna().any()

True

In [97]:
movies_data.genre.isna().any()

False

## Checking all columns at once for missing values

In [98]:
movies_data.isna().any()

imdb_title_id            False
title                    False
original_title           False
year                     False
date_published            True
genre                    False
duration                 False
country                  False
language                  True
director                  True
writer                    True
production_company        True
actors                    True
description               True
avg_vote                 False
votes                    False
budget                    True
usa_gross_income          True
worlwide_gross_income     True
metascore                 True
reviews_from_users        True
reviews_from_critics      True
release_month             True
release_year              True
release_day               True
budget_group              True
labeled_budget_group      True
budget_group_20           True
dtype: bool

In [99]:
missing_check = movies_data.isna().any()
missing_check[missing_check == True]

date_published           True
language                 True
director                 True
writer                   True
production_company       True
actors                   True
description              True
budget                   True
usa_gross_income         True
worlwide_gross_income    True
metascore                True
reviews_from_users       True
reviews_from_critics     True
release_month            True
release_year             True
release_day              True
budget_group             True
labeled_budget_group     True
budget_group_20          True
dtype: bool

# Drop records with missing values - the "dropna" method

In [100]:
no_missing = movies_data.dropna()

In [101]:
no_missing.shape[0]

6058

# Fill in missing values - the "fillna" method

In [102]:
avg_budget = movies_data.budget.mean()
avg_budget

14391455.299783159

In [103]:
movies_data["imputed_budget"] = movies_data.budget.fillna(avg_budget)

In [104]:
movies_data["imputed_director"] = movies_data.director.fillna("missing")

# The apply method - Create calculated column from multiple other columns

In [105]:
movies_data["income_to_budget"] = movies_data.apply(lambda df: df.worlwide_gross_income / (df.budget + .0001), axis = 1)

In [106]:
movies_data.income_to_budget.dropna()[:10]

165     0.489500
245    11.479591
251     0.107664
348     0.032003
415     0.029161
600     0.605535
611     0.022309
614     0.000373
628     0.029907
925     0.001026
Name: income_to_budget, dtype: float64

In [107]:
movies_data.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics', 'release_month',
       'release_year', 'release_day', 'budget_group', 'labeled_budget_group',
       'budget_group_20', 'imputed_budget', 'imputed_director',
       'income_to_budget'],
      dtype='object')

# Which director / genre duo appears the most?

In [108]:
movies_data["director_genre_duo"] = movies_data.apply(lambda df: str(df.director) + "||" + str(df.genre), axis = 1)

In [109]:
movies_data.director_genre_duo.value_counts().head(10)

Neri Parenti||Comedy          38
Cheh Chang||Action, Drama     34
Carlo Vanzina||Comedy         33
Mikio Naruse||Drama           33
Ere Kokkonen||Comedy          27
Lesley Selander||Western      24
Carlo Verdone||Comedy         22
Kostas Karagiannis||Comedy    21
Yasujirô Ozu||Drama           20
Steno||Comedy                 20
Name: director_genre_duo, dtype: int64

# Question: How would we get the most frequent combinations of individual genres and directors?

In [12]:
cols = [col for col in movies_data.genre.str.get_dummies(sep=',').columns]
_df = pd.concat([movies_data, movies_data.genre.str.get_dummies(sep=',')], axis=1)

In [17]:
_df.groupby(['director']).sum()[cols]

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
director,,,,,,,,,,,,,,,,,,,,,
'Evil' Ted Smith,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
'Philthy' Phil Phillips,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Balakrishnan,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Bhimsingh,0,0,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,0
A. Dean Bell,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Edward Sutherland,0,2,0,0,4,1,3,0,1,0,...,0,0,0,0,0,0,0,0,0,0
"A. Edward Sutherland, John Rawlins",0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"A. Edward Sutherland, Wesley Ruggles",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Hans Scheirl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
A. Jagadesh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Karunakaran,0,0,0,0,1,1,2,0,1,0,...,0,0,0,0,2,0,0,0,0,0
"A. Mahadev, Gururaj M. Desai",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Majid,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Muthu,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
A. Rajdeep,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Raven Cruz,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Razak Mohaideen,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
A. Sarkunam,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Taner Elhan,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Venkatesh,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A. Vincent,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
A.B. Shawky,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.C. Trilogchander,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
A.D. Calvo,0,0,0,0,0,0,1,0,2,0,...,2,0,0,0,0,0,0,0,0,0
A.G. Amid,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.J. Edwards,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.J. Kparr,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.J. Martinson,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A.J. Mattioli,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"A.J. Murugan, T.R. Silambarasan",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ömer Vargi,0,0,0,0,0,1,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Ömer Vargi, Tolgay Ziyal",0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Ömür Atay, Selim Demirdelen",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özcan Alper,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özcan Deniz,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
"Özcan Deniz, Reyhan Pekar",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özer Kiziltan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özgür Bakar,0,0,0,0,1,0,0,0,1,0,...,5,0,0,0,0,0,0,0,0,0
Özgür Dogruöz,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özgür Selvi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özgür Sevimli,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özgür Yelence,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Özgür Yildirim,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özgür Özberk,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özhan Eren,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Özhan Eren, Murat Saraçoglu",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Özkan Çelik,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Øystein Karlsen,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Øystein Stene,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Øyvind Vennerød,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Ülkü Erakalin,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"Ümit Cin Güven, Aydin Sayman",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ümit Degirmenci,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ümit Efekan,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ümit Elçi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ümit Köreken,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Ümit Ünal,0,0,0,0,0,1,2,0,1,0,...,1,0,0,0,0,0,0,0,0,0
Þorsteinn Gunnar Bjarnason,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Þráinn Bertelsson,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Þórhildur Þorleifsdóttir,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Get all genres as separate columns

In [110]:
all_genres = movies_data.genre.str.get_dummies(sep = ",")

In [111]:
all_genres.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
data_with_genres = pd.concat([movies_data, all_genres], axis = 1)

In [113]:
data_with_genres.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,usa,None,Alexander Black,...,0,0,0,0,1,0,0,0,0,0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,australia,None,Charles Tait,...,0,0,0,0,0,0,0,0,0,0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"germany, denmark",NaN,Urban Gad,...,0,0,0,0,0,0,0,0,0,0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,usa,English,Charles L. Gaskill,...,0,0,0,0,0,0,0,0,0,0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,0,0,0,0,0,0,0,0,0,0

# Sort data frame by a specific column

In [114]:
by_date = movies_data.sort_values("date_published")

In [115]:
by_date[["original_title", "date_published"]].head(10)

                    original_title date_published
0                       Miss Jerry     1894-10-09
1      The Story of the Kelly Gang     1906-12-26
39150                  Karadjordje     1911-01-01
4                        L'Inferno     1911-03-06
2                   Den sorte drøm     1911-08-19
35669                    Pinocchio     1911-12-01
35549         Oborona Sevastopolya     1911-12-09
8            Independenta Romaniei     1912-09-01
9                      Richard III     1912-10-15
3                        Cleopatra     1912-11-13

In [116]:
by_date_desc = movies_data.sort_values("date_published", ascending = False)

# Sort by multiple columns

In [117]:
by_date_and_title = movies_data.sort_values(["date_published", "title"])

# Sort one column ascending, one descending

In [118]:
by_date_and_title = movies_data.sort_values(["date_published", "title"], ascending = [False, True])

# How to drop duplicate rows

In [119]:
director_genre = movies_data[["director", "genre"]]

In [120]:
director_genre.shape[0]

85855

In [121]:
director_genre = director_genre.drop_duplicates()

In [122]:
director_genre.shape[0]

70808

# How to group by and aggregate data - the "groupby" method

In [123]:
year_group = movies_data.groupby("release_year")

In [124]:
year_group

In [125]:
year_group.mean()

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,imputed_budget,income_to_budget
release_year,,,,,,,,,,,
1894.0,45.000000,5.900000,154.000000,NaN,NaN,NaN,NaN,1.000000,2.000000,1.439146e+07,NaN
1906.0,70.000000,6.100000,589.000000,2.250000e+03,NaN,NaN,NaN,7.000000,7.000000,2.250000e+03,NaN
1911.0,70.200000,6.140000,566.600000,NaN,NaN,NaN,NaN,10.500000,8.000000,1.439146e+07,NaN
1912.0,80.000000,6.050000,293.500000,3.750000e+04,NaN,NaN,NaN,10.750000,3.250000,7.214478e+06,NaN
1913.0,83.461538,6.438462,720.307692,5.700000e+03,NaN,NaN,NaN,9.615385,12.000000,1.328486e+07,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2017.0,102.379434,5.696393,8325.955589,1.922069e+07,2.136117e+07,2.265422e+07,57.445141,49.997305,33.796309,1.518889e+07,2.700689
2018.0,103.200951,5.686385,6879.487218,1.852593e+07,2.121503e+07,2.080483e+07,58.326316,67.992770,30.177975,1.496542e+07,3.189851
2019.0,104.630449,5.781346,6594.386859,2.288954e+07,2.691592e+07,2.352802e+07,56.383361,92.923323,29.555474,1.548912e+07,2987.661859
2020.0,101.827483,5.686557,4326.340553,1.693644e+07,1.103775e+07,1.026770e+07,58.490358,93.296507,29.301255,1.467655e+07,1.876627
2021.0,91.000000,4.485714,228.428571,3.817500e+06,2.969145e+06,2.969145e+06,87.000000,9.714286,10.714286,1.137033e+07,NaN

In [126]:
year_group.mean()["worlwide_gross_income"]

release_year
1894.0             NaN
1906.0             NaN
1911.0             NaN
1912.0             NaN
1913.0             NaN
              ...
2017.0    2.265422e+07
2018.0    2.080483e+07
2019.0    2.352802e+07
2020.0    1.026770e+07
2021.0    2.969145e+06
Name: worlwide_gross_income, Length: 113, dtype: float64

In [127]:
year_group.mean()["worlwide_gross_income"].sort_values(ascending = False).head(10)

release_year
1998.0    4.497756e+07
1997.0    4.071625e+07
1994.0    3.743292e+07
1977.0    3.611424e+07
1999.0    3.600188e+07
1996.0    3.476139e+07
1975.0    3.219452e+07
1993.0    3.215051e+07
1978.0    3.205371e+07
2000.0    3.124573e+07
Name: worlwide_gross_income, dtype: float64

In [128]:
year_group.median()["worlwide_gross_income"].sort_values(ascending = False).head(10)

release_year
1977.0    16084661.0
1981.0    11651151.0
1978.0    11465331.5
1975.0    11000000.0
1980.0     9000000.0
1984.0     8430492.0
1979.0     7467835.5
1985.0     7196872.0
1982.0     7000000.0
1994.0     6971777.0
Name: worlwide_gross_income, dtype: float64

In [129]:
director_group = movies_data.groupby("director")

In [130]:
director_group.mean()["worlwide_gross_income"].sort_values(ascending = False).head(10)

director
Chris Buck, Jennifer Lee         1.365415e+09
Anthony Russo, Joe Russo         1.141453e+09
Kyle Balda, Pierre Coffin        1.097121e+09
Josh Cooley                      1.073395e+09
Lee Unkrich                      1.066970e+09
Andrew Stanton, Angus MacLane    1.028571e+09
Byron Howard, Rich Moore         1.023789e+09
Roger Allers, Rob Minkoff        9.685118e+08
Andrew Stanton, Lee Unkrich      9.403501e+08
Andrew Adamson, Kelly Asbury     9.287608e+08
Name: worlwide_gross_income, dtype: float64

## Group by more than one column

In [131]:
by_dir_genre = movies_data.groupby(["director", "genre"])

In [132]:
by_dir_genre.mean()["worlwide_gross_income"]

director                    genre
'Evil' Ted Smith            Sci-Fi, Horror, Thriller         NaN
'Philthy' Phil Phillips     Action, Comedy                   NaN
A. Balakrishnan             Biography, Drama                 NaN
A. Bhimsingh                Action, Comedy, Drama            NaN
                            Comedy, Thriller                 NaN
                                                          ...
Þorsteinn Gunnar Bjarnason  Comedy                      325032.0
Þráinn Bertelsson           Comedy                           NaN
                            Comedy, Drama                    NaN
                            Comedy, Family                   NaN
Þórhildur Þorleifsdóttir    Comedy, Family                5095.0
Name: worlwide_gross_income, Length: 70766, dtype: float64

In [133]:
by_dir_genre.mean()["worlwide_gross_income"].dropna()

director                    genre
A. Dean Bell                Crime, Drama                   67436.0
A. Karunakaran              Comedy, Drama, Romance        120958.0
                            Romance                         5817.0
A. Muthu                    Musical, Romance              365318.0
A. Raven Cruz               Action, Adventure, Comedy       3700.0
                                                           ...
Ümit Ünal                   Drama, Fantasy, Mystery       235060.0
                            Drama, Thriller                44182.0
                            Horror, Thriller             2545050.0
Þorsteinn Gunnar Bjarnason  Comedy                        325032.0
Þórhildur Þorleifsdóttir    Comedy, Family                  5095.0
Name: worlwide_gross_income, Length: 27076, dtype: float64

## Convert groupby result back into data frame

In [134]:
by_dir_genre.mean()["budget"].reset_index()

                         director                     genre  budget
0                'Evil' Ted Smith  Sci-Fi, Horror, Thriller     NaN
1         'Philthy' Phil Phillips            Action, Comedy     NaN
2                 A. Balakrishnan          Biography, Drama     NaN
3                    A. Bhimsingh     Action, Comedy, Drama     NaN
4                    A. Bhimsingh          Comedy, Thriller     NaN
...                           ...                       ...     ...
70761  Þorsteinn Gunnar Bjarnason                    Comedy     NaN
70762           Þráinn Bertelsson                    Comedy     NaN
70763           Þráinn Bertelsson             Comedy, Drama     NaN
70764           Þráinn Bertelsson            Comedy, Family     NaN
70765    Þórhildur Þorleifsdóttir            Comedy, Family     NaN

[70766 rows x 3 columns]

## Group / Aggregate all in one step

In [135]:
movies_data.groupby("director").mean()["worlwide_gross_income"].sort_values(ascending = False).head(10)

director
Chris Buck, Jennifer Lee         1.365415e+09
Anthony Russo, Joe Russo         1.141453e+09
Kyle Balda, Pierre Coffin        1.097121e+09
Josh Cooley                      1.073395e+09
Lee Unkrich                      1.066970e+09
Andrew Stanton, Angus MacLane    1.028571e+09
Byron Howard, Rich Moore         1.023789e+09
Roger Allers, Rob Minkoff        9.685118e+08
Andrew Stanton, Lee Unkrich      9.403501e+08
Andrew Adamson, Kelly Asbury     9.287608e+08
Name: worlwide_gross_income, dtype: float64

# What correlations exist in the data?

In [136]:
movies_data.corr()

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,release_year,imputed_budget,income_to_budget
duration,1.000000,0.242432,0.125618,0.301301,0.160348,0.138693,0.210531,0.130836,0.135465,0.171964,0.118587,0.024994
avg_vote,0.242432,1.000000,0.166972,0.191711,0.165749,0.140744,0.691338,0.138185,0.200526,-0.214662,0.091145,-0.001324
votes,0.125618,0.166972,1.000000,0.536929,0.672454,0.661671,0.194730,0.766237,0.671635,0.059127,0.505291,-0.002751
budget,0.301301,0.191711,0.536929,1.000000,0.691570,0.751953,-0.018753,0.564896,0.616320,0.196838,1.000000,-0.009720
usa_gross_income,0.160348,0.165749,0.672454,0.691570,1.000000,0.932303,0.067036,0.652551,0.563622,0.065900,0.711773,-0.006688
worlwide_gross_income,0.138693,0.140744,0.661671,0.751953,0.932303,1.000000,0.065169,0.644210,0.575268,0.003460,0.757001,-0.003484
metascore,0.210531,0.691338,0.194730,-0.018753,0.067036,0.065169,1.000000,0.126131,0.236107,-0.175739,-0.040806,-0.003493
reviews_from_users,0.130836,0.138185,0.766237,0.564896,0.652551,0.644210,0.126131,1.000000,0.671634,0.071224,0.510582,-0.002949
reviews_from_critics,0.135465,0.200526,0.671635,0.616320,0.563622,0.575268,0.236107,0.671634,1.000000,0.139935,0.511845,-0.010065
release_year,0.171964,-0.214662,0.059127,0.196838,0.065900,0.003460,-0.175739,0.071224,0.139935,1.000000,0.080520,0.011448
imputed_budget,0.118587,0.091145,0.505291,1.000000,0.711773,0.757001,-0.040806,0.510582,0.511845,0.080520,1.000000,-0.009720
income_to_budget,0.024994,-0.001324,-0.002751,-0.009720,-0.006688,-0.003484,-0.003493,-0.002949,-0.010065,0.011448,-0.009720,1.000000

# Covariance of the numerical variables

In [137]:
movies_data.cov()

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,release_year,imputed_budget,income_to_budget
duration,5.086761e+02,6.752646e+00,1.517857e+05,1.757753e+08,1.643060e+08,2.508528e+08,7.782820e+01,5.234494e+02,1.724546e+02,9.373818e+01,3.398846e+07,1.011759e+04
avg_vote,6.752646e+00,1.525194e+00,1.104745e+04,7.397652e+06,8.123445e+06,1.367233e+07,1.190574e+01,3.048212e+01,1.420118e+01,-6.407282e+00,1.430433e+06,-3.204909e+01
votes,1.517857e+05,1.104745e+04,2.870212e+09,1.779094e+12,3.869028e+12,5.117682e+12,4.391578e+05,7.663473e+06,2.254957e+06,7.656030e+04,3.440113e+11,-8.866045e+06
budget,1.757753e+08,7.397652e+06,1.779094e+12,8.351687e+14,1.710222e+15,4.140343e+15,-1.360966e+07,5.810197e+09,1.878016e+09,1.278959e+08,8.351687e+14,-7.579563e+09
usa_gross_income,1.643060e+08,8.123445e+06,3.869028e+12,1.710222e+15,2.328119e+15,5.911034e+15,6.736105e+07,1.135611e+10,2.848874e+09,5.020466e+07,9.406484e+14,-1.006254e+10
worlwide_gross_income,2.508528e+08,1.367233e+07,5.117682e+12,4.140343e+15,5.911034e+15,7.888827e+15,1.618696e+08,1.661880e+10,4.458104e+09,3.822703e+06,1.338148e+15,-1.166001e+10
metascore,7.782820e+01,1.190574e+01,4.391578e+05,-1.360966e+07,6.736105e+07,1.618696e+08,3.163018e+02,8.654297e+02,4.452040e+02,-4.520726e+01,-2.128700e+07,-4.131870e+02
reviews_from_users,5.234494e+02,3.048212e+01,7.663473e+06,5.810197e+09,1.135611e+10,1.661880e+10,8.654297e+02,3.186632e+04,7.548187e+03,3.120601e+02,1.210295e+09,-2.900462e+04
reviews_from_critics,1.724546e+02,1.420118e+01,2.254957e+06,1.878016e+09,2.848874e+09,4.458104e+09,4.452040e+02,7.548187e+03,3.403457e+03,2.011256e+02,4.063821e+08,-2.671928e+04
release_year,9.373818e+01,-6.407282e+00,7.656030e+04,1.278959e+08,5.020466e+07,3.822703e+06,-4.520726e+01,3.120601e+02,2.011256e+02,5.841329e+02,2.473064e+07,3.336778e+03
imputed_budget,3.398846e+07,1.430433e+06,3.440113e+11,8.351687e+14,9.406484e+14,1.338148e+15,-2.128700e+07,1.210295e+09,4.063821e+08,2.473064e+07,1.614909e+14,-7.579563e+09
income_to_budget,1.011759e+04,-3.204909e+01,-8.866045e+06,-7.579563e+09,-1.006254e+10,-1.166001e+10,-4.131870e+02,-2.900462e+04,-2.671928e+04,3.336778e+03,-7.579563e+09,4.739258e+08

# How to get random samples of the data

In [138]:
random_100 = movies_data.sample(100, random_state = 123)
random_100

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,release_month,release_year,release_day,budget_group,labeled_budget_group,budget_group_20,imputed_budget,imputed_director,income_to_budget,director_genre_duo
15688,tt0069089,Pink Flamingos,Pink Flamingos,1972,1979-10-01,"Comedy, Crime",93,usa,English,John Waters,...,October,1979.0,Monday,"(0.0, 100000.0]",0 to 100K,"(-356000.0, 17800000.0]",1.000000e+04,John Waters,NaN,"John Waters||Comedy, Crime"
61382,tt1729549,Emulation,Emulation,2010,2010-01-01,"Action, Adventure, Thriller",84,usa,English,Tom Getty,...,January,2010.0,Friday,NaN,NaN,NaN,1.439146e+07,Tom Getty,NaN,"Tom Getty||Action, Adventure, Thriller"
33321,tt0154898,Moondru Mudichu,Moondru Mudichu,1976,1976-10-22,Romance,131,india,Tamil,K. Balachander,...,October,1976.0,Friday,NaN,NaN,NaN,1.439146e+07,K. Balachander,NaN,K. Balachander||Romance
38237,tt0249516,Foodfight!,Foodfight!,2011,2013-02-12,"Animation, Action, Adventure",91,usa,English,Lawrence Kasanoff,...,February,2013.0,Tuesday,"(30000000.0, 100000000.0]",30M - 100M,"(53400000.0, 71200000.0]",6.500000e+07,Lawrence Kasanoff,0.001848,"Lawrence Kasanoff||Animation, Action, Adventure"
78857,tt5843876,I nostri cuori chimici,Chemical Hearts,2020,2020-08-21,"Drama, Romance",93,usa,English,Richard Tanne,...,August,2020.0,Friday,NaN,NaN,NaN,1.439146e+07,Richard Tanne,NaN,"Richard Tanne||Drama, Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15787,tt0069358,Estasi degli angeli,Tenshi no kôkotsu,1972,1972-03-11,"Action, Drama, Mystery",89,japan,Japanese,Kôji Wakamatsu,...,March,1972.0,Saturday,NaN,NaN,NaN,1.439146e+07,Kôji Wakamatsu,NaN,"Kôji Wakamatsu||Action, Drama, Mystery"
70352,tt3212812,Minha Mãe é uma Peça 2: O Filme,Minha Mãe é uma Peça 2: O Filme,2016,2016-12-22,Comedy,96,brazil,Portuguese,César Rodrigues,...,December,2016.0,Thursday,NaN,NaN,NaN,1.439146e+07,César Rodrigues,NaN,César Rodrigues||Comedy
80965,tt6649792,Ahockalypse,Ahockalypse,2018,2018-08-17,"Comedy, Horror",79,usa,English,Wayne Harry Johnson Jr.,...,August,2018.0,Friday,NaN,NaN,NaN,1.439146e+07,Wayne Harry Johnson Jr.,NaN,"Wayne Harry Johnson Jr.||Comedy, Horror"
46189,tt0424846,Billboard,Billboard,1998,1998-11-20,Thriller,95,poland,Polish,Lukasz Zadrzynski,...,November,1998.0,Friday,NaN,NaN,NaN,1.439146e+07,Lukasz Zadrzynski,NaN,Lukasz Zadrzynski||Thriller
58345,tt1461242,Lucky Bastard,Lucky Bastard,2009,2009-07-14,"Drama, Romance",87,usa,English,Everett Lewis,...,July,2009.0,Tuesday,NaN,NaN,NaN,1.439146e+07,Everett Lewis,NaN,"Everett Lewis||Drama, Romance"

In [139]:
random_500 = movies_data.sample(500, random_state = 123)
random_500

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,release_month,release_year,release_day,budget_group,labeled_budget_group,budget_group_20,imputed_budget,imputed_director,income_to_budget,director_genre_duo
15688,tt0069089,Pink Flamingos,Pink Flamingos,1972,1979-10-01,"Comedy, Crime",93,usa,English,John Waters,...,October,1979.0,Monday,"(0.0, 100000.0]",0 to 100K,"(-356000.0, 17800000.0]",1.000000e+04,John Waters,NaN,"John Waters||Comedy, Crime"
61382,tt1729549,Emulation,Emulation,2010,2010-01-01,"Action, Adventure, Thriller",84,usa,English,Tom Getty,...,January,2010.0,Friday,NaN,NaN,NaN,1.439146e+07,Tom Getty,NaN,"Tom Getty||Action, Adventure, Thriller"
33321,tt0154898,Moondru Mudichu,Moondru Mudichu,1976,1976-10-22,Romance,131,india,Tamil,K. Balachander,...,October,1976.0,Friday,NaN,NaN,NaN,1.439146e+07,K. Balachander,NaN,K. Balachander||Romance
38237,tt0249516,Foodfight!,Foodfight!,2011,2013-02-12,"Animation, Action, Adventure",91,usa,English,Lawrence Kasanoff,...,February,2013.0,Tuesday,"(30000000.0, 100000000.0]",30M - 100M,"(53400000.0, 71200000.0]",6.500000e+07,Lawrence Kasanoff,0.001848,"Lawrence Kasanoff||Animation, Action, Adventure"
78857,tt5843876,I nostri cuori chimici,Chemical Hearts,2020,2020-08-21,"Drama, Romance",93,usa,English,Richard Tanne,...,August,2020.0,Friday,NaN,NaN,NaN,1.439146e+07,Richard Tanne,NaN,"Richard Tanne||Drama, Romance"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60745,tt1676134,Meherjaan,Meherjaan,2011,2011-01-21,"Drama, History",119,bangladesh,"Bengali, English, Urdu",Rubaiyat Hossain,...,January,2011.0,Friday,NaN,NaN,NaN,1.439146e+07,Rubaiyat Hossain,NaN,"Rubaiyat Hossain||Drama, History"
77275,tt5271794,That Good Night,That Good Night,2017,2018-05-11,Drama,92,"uk, portugal",English,Eric Styles,...,May,2018.0,Friday,NaN,NaN,NaN,1.439146e+07,Eric Styles,NaN,Eric Styles||Drama
3776,tt0033367,Bad Man of Deadwood,Bad Man of Deadwood,1941,1941-09-05,"Musical, Western",61,usa,English,Joseph Kane,...,September,1941.0,Friday,NaN,NaN,NaN,1.439146e+07,Joseph Kane,NaN,"Joseph Kane||Musical, Western"
69983,tt3132928,Benimle Oynar misin?,Benimle Oynar misin?,2013,2013-09-27,"Comedy, Drama, Sport",87,turkey,Turkish,Aydin Bulut,...,September,2013.0,Friday,NaN,NaN,NaN,1.439146e+07,Aydin Bulut,NaN,"Aydin Bulut||Comedy, Drama, Sport"
9541,tt0051688,Duello alla pistola,The Gunfight at Dodge City,1959,1959-05-01,Western,81,usa,English,Joseph M. Newman,...,May,1959.0,Friday,NaN,NaN,NaN,1.439146e+07,Joseph M. Newman,NaN,Joseph M. Newman||Western

## Write dataset to new CSV file

In [140]:
movies_data.to_csv("updated_movies_data.csv", index = False)